@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');

html
    font-size 18px

body
    font-family 'Source Sans Pro', sans-serif !important
    font-size 1em !important

button
    background-color $accentColor
    border none
    padding 1em 1.5em
    text-transform uppercase
    letter-spacing 2px
    color white
    font-size 0.8em
    border-radius 4px

.sidebar
    font-size 1em !important

img
    border: 2px solid $borderColor

img + em
    display: block
    margin-bottom: 2em