@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

html
    font-size 16px

body
    font-family 'Roboto', sans-serif !important
    font-size 1em !important

button
    background-color $accentColor
    border none
    padding 1em 1.5em
    text-transform uppercase
    letter-spacing 2px
    color white
    font-size 0.8em
    border-radius 4px

.sidebar
    font-size 1em !important

img
    border: 2px solid $borderColor

img + em
    display: block
    margin-bottom: 2em